@{
    ViewData["Title"] = "Home Page";
}


<body background = "./images/lambo.jpg">
    <div class="text-center" style="font-size:250%">
        <br /><br /><br /><br />
        <h1>Seja bem-vindo!</h1>
    </div>
</body>  